<h1>Welcome to Habit Tracker!</h1>

<h2>What exercise did you complete today?</h2>
<div>
    <form action="/insert_board" method="post">
      <div>
        <form action="/insert_board" method="post">
        <label for="habit_box">Chest/Triceps Day:</label>
        <button>Log workout</button>
      </div>
      <div>
        <label for="habit_box">Back/Biceps Day:</label>
        <button>Log workout</button>
      </div>
      <div>
        <label for="habit_box">Leg Day:</label>
        <button>Log workout</button>
      </div>
      <div>
        <label for="habit_box">Shoulders+Core Day:</label>
        <button>Log workout</button>
      </div>
  </form>
</div>


<hr></hr>

<table border="1">
  <tr>
    <th>
      Day
    </th>

    <th>
      Log Workout
    </th>
  </tr>

  <tr>
    <td>Chest/Triceps</td>
    <td>        
        <form action="/insert_board" method="post">
        <label for="habit_box"></label>
        <button>Log workout</button></form>
    </td>
  </tr>  
  <tr>
    <td>Back/Biceps</td>
    <td>
        <form action="/insert_board" method="post">
        <label for="habit_box"></label>
        <button>Log workout</button></form>
    </td>
  </tr>
  <tr>
    <td>Legs</td>
    <td>
        <form action="/insert_board" method="post">
        <label for="habit_box"></label>
        <button>Log workout</button></form>
    </td> 
  </tr>
  <tr>
    <td>Shoulders/Core</td>
    <td>
        <form action="/insert_board" method="post">
        <label for="habit_box"></label>
        <button>Log workout</button></form>      
    </td>
  </tr>
</table>
