<h1>My Workouts</h1>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
<!--        <th>
          ID
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>-->

        <th>
          Workout Type
        </th>

<!--        <th>
          User
        </th>-->

        <th>
          Date
        </th>

<!--        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>-->
      </tr>

      <%# @list_of_performances.each do |a_performance| %>
<!--      <tr>
        <td>
          <%#= a_performance.id %>-->
<!--        </td>

        <td>
          <%#= a_performance.created_at %>-->
<!--        </td>

        <td>
          <%#= a_performance.updated_at %>-->
<!--        </td>

        <td>
          <%#= a_performance.habit_id %>-->
<!--        </td>

        <td>
          <%#= a_performance.user_id %>-->
<!--        </td>

        <td>
          <%#= a_performance.performed_on %>-->
<!--        </td>

        <td>
          <%#= time_ago_in_words(a_performance.created_at) %> ago-->
<!--        </td>
        <td>
          <%#= time_ago_in_words(a_performance.updated_at) %> ago-->
<!--        </td>

        <td>
          <a href="/performances/<%#= a_performance.id %>">
            Show details
          </a>
        </td>
      </tr>
      <%# end %>-->
<!--    </table>
  </div>
</div>

<hr>
-->
