  <nav>
    <% if current_user != nil %>
      <a href="/">Home</a>   
      <a href="/performances">Go back</a>   
      <a href="/users/edit">Edit profile</a>    
      <a href="/performances">Log a Workout</a>   
    <% else %>  
      <a href="/">Sign in</a>        
    <% end %> 
  </nav>

<hr></hr>

<h1>My Workouts</h1>

<hr></hr>

<table border="1">
  <tr>
    <th>Habit Name</th>
    <th>Total Workouts</th>
  </tr>

<% Habit.all.each do |habit| %>
  <tr> 
    <td> <%= habit.habit_name %> </td>
    <td> <%= habit.performances.count %> </td> 
  </tr>
  <% end %>
</table>
